spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug


cloud:
  aws:
    s3:
      bucket: sookookbucket
    stack.auto: false
    region.static: ap-northeast-2
    credentials:
      accessKey: AKIAT6UNPE54SCXQWHVS
      secretKey: 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